<app-delete-account *ngIf="isDeletingAccount" [username]="user.username" (hideModal)="showDeleteModal(false)"></app-delete-account>

<div class="container">
    <h2>
        <p><img src="/assets/cooking-hat.jpg" alt="Cooking Hat"></p>
        {{user.username}}'s Account
    </h2>

    <ng-container *ngIf="error">
        <p class="error">
            {{error}}
        </p>
    </ng-container>

    <form *ngIf="user" #form="ngForm" (ngSubmit)="editAccount(form)">
        <div class="field field-icon">
            <label for="username"><span><i class="fas fa-user"></i></span></label>
            <input ngModel="{{user.username}}" #username="ngModel" type="text" name="username" id="username" required
                minlength="3">
        </div>

        <ng-container *ngIf="username.touched">
            <p *ngIf="username.errors?.required" class="error">
                Username is required!
            </p>
            <p *ngIf="username.errors?.minlength" class="error">
                Username must be at least 3 characters long!
            </p>
        </ng-container>

        <div class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input ngModel="{{user.email}}" #email="ngModel" type="email" name="email" id="email" required email>
        </div>

        <ng-container *ngIf="email.touched">
            <p *ngIf="email.errors?.required" class="error">
                Email is required!
            </p>
            <p *ngIf="!email.errors?.required && email.invalid" class="error">
                Email is not valid!
            </p>
        </ng-container>

        <div class="change-password">
            <p>
                <span><i class="fas fa-lock"></i></span>                 
                <a routerLink="/users/{{user._id}}/change-password">Change your password</a>
            </p>
        </div>

        <div class="buttons">
            <button class="cancel-btn" (click)="back()">Cancel</button>
            <button type="submit">Save</button>
            <button type="button" class="delete-btn" (click)="showDeleteModal(true)">Delete <i class="fa fa-trash"></i></button>
        </div>
    </form>

</div>