.container {
    margin: 50px auto;
    width: 30%;
}

.change-password {
    color: #4a6b8b;
    min-height: 65.6vh;
}

h2 {
    font-family: "Merienda";
    margin: 30px 70px;
}

.field {
    padding: 5px 0;
}

input {
    font-size: 16px;
    color: #4a6b8b;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #4a6b8b;
    border-left: 0.3em solid green;
}

input:-webkit-autofill {
    color: #4a6b8b !important;
}

input.ng-invalid.ng-touched, .confirm.ng-invalid.touched {
    border-left: 0.3em solid red;
}

.fas {
    margin: 0 10px;
}

span {
    display: inline-block;
    width: 50px;
}

button {
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
    background-color: #4a6b8b;
    color: lightgray;
    padding: 10px 20px;
    border-radius: 15px;
    display: inline-block;
    margin: 15px 10px;
}
    
button:hover {
    background-color: lightgray;
    color: #4a6b8b;
    box-shadow: 2px 2px 5px 0 gray;
}

button[disabled], button[disabled]:hover {
    background-color: #4a6a8b8c;
    color: lightgray;
    box-shadow: none;
}

.register-link a {
    color: #4a6b8b;
}

.error {
    color: red;
    font-size: 14px;
    padding: 0 0 0 50px;
}

.links {
    text-align: center;
    margin-right: 75px;
}

.cancel-btn {
    background-color: lightgray;
    color: #4a6b8b;
}

.cancel-btn:hover {
    background-color: gray;
    color: lightgray;
}