<div class="container">
    <form [formGroup]="form" (ngSubmit)="changePassword()" class="change-password" method="post">
        <h2>Change Password</h2>

        <ng-container *ngIf="error">
            <p class="error">
                {{error}}
            </p>
        </ng-container>

        <p class="field field-icon">
            <label for="oldPassword"><span>Old </span></label>
            <input formControlName="oldPassword" type="{{visibleOldPassword ? 'text' : 'password'}}" name="oldPassword" id="oldPassword" placeholder="******"
                required>
                <i *ngIf="!visibleOldPassword" class="fas fa-eye" (click)="showOldPassword()"></i>
                <i *ngIf="visibleOldPassword" class="fas fa-eye-slash" (click)="showOldPassword()"></i>
        </p>

        <ng-container *ngIf="form.get('oldPassword').touched">
            <p *ngIf="form.get('oldPassword').errors?.required" class="error">
                Please enter your current password!
            </p>
            <p *ngIf="form.get('oldPassword').errors?.minlength" class="error">
                Password must be at least 5 characters!
            </p>
        </ng-container>

        <p class="field field-icon">
            <label for="newPassword"><span>New </span></label>
            <input formControlName="newPassword" [appCustomValidator]="passwordValidator"  type="{{visibleNewPassword ? 'text' : 'password'}}" name="newPassword" id="newPassword" placeholder="******"
                required>
                <i *ngIf="!visibleNewPassword" class="fas fa-eye" (click)="showNewPassword()"></i>
                <i *ngIf="visibleNewPassword" class="fas fa-eye-slash" (click)="showNewPassword()"></i>
        </p>

        <ng-container *ngIf="form.get('newPassword').touched">
            <p *ngIf="form.get('newPassword').errors?.required" class="error">
                Please enter your new password!
            </p>
            <p *ngIf="form.get('newPassword').errors?.minlength" class="error">
                Password must be at least 5 characters long!
            </p>
            <p *ngIf="form.get('newPassword').errors?.notAllowedAlphabet" class="error">
                Latin characters only!
            </p>
            <p *ngIf="form.get('newPassword').errors?.noSpecialCharacter" class="error">
                Please include at least one special symbol (!?@#$%^&*())!
            </p>
        </ng-container>

        <p class="field field-icon">
            <label for="confirmPassword"><span>New </span></label>
            <input formControlName="confirmPassword" [appCustomValidator]="passwordValidator" type="{{visibleConfirmPassword ? 'text' : 'password'}}" name="confirmPassword" id="confirmPassword" placeholder="******"
                required>
                <i *ngIf="!visibleConfirmPassword" class="fas fa-eye" (click)="showConfirmPassword()"></i>
                <i *ngIf="visibleConfirmPassword" class="fas fa-eye-slash" (click)="showConfirmPassword()"></i>
        </p>

        <ng-container *ngIf="form.get('newPassword').touched">
            <p *ngIf="form.get('newPassword').valid &&
                        form.get('confirmPassword').errors?.required" class="error">
                Please confirm your new password!
            </p>
            <p *ngIf="form.get('newPassword').valid &&
                        !form.get('confirmPassword').errors?.required &&
                        form.get('confirmPassword').errors?.noMatch" class="error">
                Passwords don't match!
            </p>
        </ng-container>

        <div class="links">
            <button class="cancel-btn" (click)="back()">Cancel</button>
            <button type="submit" [disabled]="form.invalid">Save</button>
        </div>
    </form>
</div>