/* You can add global styles to this file, and also import other style files */
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

*::selection {
    color: lightgray;
    background-color: #4a6b8b;
    border-radius: 8px;
}