<div *ngIf="myRecipes && myRecipes.length > 0" class="page-title">
    <h2>My Recipes</h2>
</div>
<div class="recipes">
    <ng-container *ngIf="error">
        <p class="error">
            {{error}}
        </p>
    </ng-container>
    
    <div class="card" [routerLink]="['/recipes', recipe._id]" *ngFor="let recipe of myRecipes">
        <!-- {{recipes | json}} -->
        <img class="card-image" src="{{recipe.imageUrl}}" alt="">
        <div class="card-content">
            <div class="card-title">
                <h3>{{recipe.name}}</h3>
                <p>
                    <i class="fas fa-clock"></i><span> {{recipe.time}} min</span>
                </p>
            </div>
            <!-- <table>
                <tr class="card-section">
                    <td>
                        <h4><i class="fas fa-list"></i></h4>
                    </td>
                    <td>
                        <p class="ingredients">{{recipe.ingredients | slice:0:50}}<span
                                *ngIf="recipe.ingredients.length > 50">...</span></p>
                    </td>
                </tr>
                <tr class="card-section">
                    <td>
                        <h4><img src="/assets/instructions.png" alt="Instructions"></h4>
                    </td>
                    <td>
                        <p class="instructions">{{recipe.instructions | slice:0:50}}<span
                                *ngIf="recipe.instructions.length > 50">...</span></p>
                    </td>
                </tr>
            </table> -->
            <div class="likes">
                <p>Liked by <span>{{recipe.likedBy.length}}</span> people</p>
            </div>
        </div>
    </div>
    <div *ngIf="!myRecipes" class="loader">Loading...</div>
    <div *ngIf="myRecipes && myRecipes.length == 0" class="no-recipes">
        <h2>Sorry, you have currently no recipes.</h2>
        <div *ngIf="user">
            <p>Add one right away!</p>
            <button routerLink="/recipes/new-recipe">Add New Recipe</button>
            <button routerLink="/">Go back home</button>
        </div>
        <div *ngIf="!user">
            <button routerLink="/">Go back home</button>
        </div>
    </div>
</div>