<!-- <div class="container">
    <form [formGroup]="form" (ngSubmit)="register()" class="register" action="" method="post">
        <fieldset>
            <h2>Registration Form</h2>
            
            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input formControlName="username" class="input-error" type="text" name="username" id="username"
                placeholder="Johny" required>
            </p>
            <ng-container *ngIf="form.get('username').touched">
                <p *ngIf="form.get('username').errors?.required" class="error">
                    Username is required!
                </p>
                <p *ngIf="form.get('username').errors?.minlength" class="error">
                    Username must be at least 5 characters long!
                </p>
            </ng-container>
            
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input formControlName="email" [appCustomValidator]="emailValidator" type="email" name="email" id="email" placeholder="john.doe@gmail.com">
            </p>
            
            <ng-container *ngIf="form.get('email').touched">
                <p *ngIf="form.get('email').errors?.required" class="error">
                    Email is required!
                </p>
                <p *ngIf="form.get('email').errors?.invalidEmail" class="error">
                    Email is not valid!
                </p>
            </ng-container>
            
            <p class="field field-icon">
                <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                <select formControlName="code" name="select-tel" id="select-tel" class="tel">
                    <option *ngFor="let code of phoneCodes" [selected]="code == '+359'">{{code}}</option>
                </select>
                <input formControlName="tel" [appCustomValidator]="phoneValidator" type="text"
                    name="tel" id="tel" placeholder="885 888 888">
            </p>
            
            <ng-container *ngIf="form.get('tel').touched">
                <p *ngIf="form.get('tel').errors?.invalidPhone" class="error">
                    Phone must be a 9-digit number in the following format: 888 888 888
                </p>
            </ng-container>
            
            <div formGroupName="passwords" class="passwords">
                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input formControlName="password" [appCustomValidator]="passwordValidator" type="password" name="password" id="password" placeholder="******">
                </p>
    
                <p class="field field-icon">
                    <label for="repass"><span><i class="fas fa-lock"></i></span></label>
                    <input formControlName="repass" type="password" name="repass"
                        id="repass" placeholder="******">
                </p>

                <ng-container *ngIf="form.get('passwords').touched">
                    <p *ngIf="form.get('passwords.password').errors?.required" class="error">
                        Password is required!
                    </p>
                    <p *ngIf="form.get('passwords.password').errors?.lessThanFiveChars" class="error">
                        Password must be at least 5 characters long!
                    </p>
                    <p *ngIf="form.get('passwords.password').errors?.notAllowedChars" class="error">
                        Password may only contain latin letters and digits!
                    </p>
                    <p *ngIf="form.get('passwords.password').valid &&
                        form.get('passwords.repass').errors?.required" class="error">
                        Please confirm password!
                    </p>
                    <p *ngIf="form.get('passwords.password').valid &&
                        !form.get('passwords.repass').errors?.required &&
                        form.get('passwords.repass').errors?.noMatch" class="error">
                        Passwords don't match!
                    </p>
                </ng-container>
            </div>


            <button [disabled]="form.invalid">Create Account</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/login">Log In</a>
            </p>

        </fieldset>
    </form>
</div> -->