<!-- <div class="container">
    <form [formGroup]="form" (ngSubmit)="login(form)" class="login" action="" method="post">
        <fieldset>
            <h2>Login Form</h2>

            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input formControlName="email" class="input-error" type="email" name="email" id="email"
                    placeholder="john.doe@gmail.com" required [appCustomValidator]="emailValidator">
            </p>
            <ng-container *ngIf="form.get('email').touched">
                <p *ngIf="form.get('email').errors?.required" class="error">
                    Email is required!
                </p>
                <p *ngIf="form.get('email').errors?.invalidEmail" class="error">
                    Email is not valid!
                </p>
            </ng-container>

            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input formControlName="password" type="password" name="password" id="password" placeholder="******"
                    required>
            </p>

            <ng-container *ngIf="form.get('password').touched">
                <p *ngIf="form.get('password').errors?.required" class="error">
                    Password is required!
                </p>
                <p *ngIf="form.get('password').errors?.minlength" class="error">
                    Password must be at least 5 characters!
                </p>
            </ng-container>

            <button [disabled]="form.invalid">Login</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/register">Register</a>
            </p>
        </fieldset>
    </form>
</div> -->