div {
    background-color: #4a6b8b;
    color: lightgray;
    height: 60px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

p a {
    color: lightgray;
    text-decoration: none;
}

i {
    font-size: 18px;
    margin: 0 10px;
}