<div class="recipes">
    <div class="card" [routerLink]="['/recipes', recipe._id]" *ngFor="let recipe of recipes">
        <!-- {{recipes | json}} -->
        <img class="card-image" src="{{recipe.imageUrl}}" alt="">
        <div class="card-content">
            <div class="card-title">
                <h3>{{recipe.name}}</h3>
                <p>
                    <i class="fas fa-clock"></i><span> {{recipe.time}} min</span>
                </p>
            </div>
            <!-- <table>
                <tr class="card-section">
                    <td>
                        <h4><i class="fas fa-list"></i></h4>
                    </td>
                    <td>
                        <p class="ingredients">{{recipe.ingredients | slice:0:145}}<span
                                *ngIf="recipe.ingredients.length > 50">...</span></p>
                    </td>
                </tr>
            </table> -->
            <div class="likes">
                <p>Liked by <span>{{recipe.likedBy.length}}</span> people</p>
            </div>
        </div>
    </div>
    <div *ngIf="recipes && recipes.length == 0" class="no-recipes">
        <h2>Sorry, there are currently no recipes.</h2>
        <div *ngIf="user">
            <p>Be the first to add one!</p>
            <button routerLink="/recipes/new-recipe">Add New Recipe</button>
            <button routerLink="/">Go back home</button>
        </div>
        <div *ngIf="!user">
            <button routerLink="/">Go back home</button>
        </div>
    </div>
</div>
<app-loading-recipes *ngIf="!recipes"></app-loading-recipes>