.container {
    width: 40%;
    margin: 20px auto;
    color: #4a6b8b;
}

.page-title {
    font-family: "Merienda";
    text-align: center;
}

form {
    border: 1px solid #4a6b8b;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #4a6b8b;
    border-radius: 5px;
    resize: none;
}

input:focus, textarea:focus {
    border: 2px solid #4a6b8b;
    background-color: #4a6a8b2d;
    outline: none;
    box-shadow: none;
}

label {
    padding: 10px;
    display: inline-block;
}

.red {
    color: red;
}

.buttons {
    margin: 20px auto;
    text-align: center;
}

button {
    text-decoration: none;
    font-family: Verdana;
    font-size: 16px;
    background-color: #4a6b8b;
    color: lightgray;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0 10px;
}
    
button:hover {
    background-color: lightgray;
    color: #4a6b8b;
    box-shadow: 2px 2px 5px 0 gray;
}

button[disabled], button[disabled]:hover {
    background-color: #4a6a8b8c;
    color: lightgray;
    box-shadow: none;
}