<div class="container">
    <div class="logo">
        <span routerLink="home">
            Just c<img src="assets/bar-1972444_1280.png" alt="egg" /><img
                src="assets/bar-1972444_1280.png" alt="egg" />k it!
            </span>
    </div>

    <nav class="navigation">
        <ul>
            
            <div *ngIf="!isLogged">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="login">Login</a></li>
                <li routerLinkActive="active"><a routerLink="register">Register</a></li>
            </div>
            
            <div *ngIf="isLogged">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="recipes/new-recipe">New Recipe</a></li>
                <li routerLinkActive="active"><a routerLink="recipes/my-recipes">My Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="recipes/my-favorites">My Favorites</a></li>
                <li *ngIf="user" routerLinkActive="active"><a routerLink="/users/{{user._id}}"><i class="fas fa-user"></i> {{username}}</a></li>
                <li class="button logout" (click)="logout()" routerLinkActive="active">Logout</li>
            </div>
            
        </ul>
    </nav>
</div>