.container {
    background-color: #4a6b8b;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0;
}

a {
    color: lightgray;
    text-decoration: none;
    padding: 20px;
}

.logo span {
    font-family: "Merienda";
    font-size: 40px;
    letter-spacing: 2px;
}

li {
    display: inline-block;
}

.navigation li {
    font-size: 18px;
}

img {
    width: 25px;
    padding: 2px;
}