<div class="container">
    <div class="logo">
        <span routerLink="home">
            Just c<img src="assets/bar-1972444_1280.png" alt="egg" /><img
                src="assets/bar-1972444_1280.png" alt="egg" />k it!
            </span>
    </div>

    <nav class="navigation">
        <ul>
            
            <div *ngIf="!isLogged">
                <li><a routerLink="login">Login</a></li>
                <li><a routerLink="register">Register</a></li>
                <li><a routerLink="about">About</a></li>
            </div>
            
            <div *ngIf="isLogged">
                <li><a routerLink="recipes">Recipes</a></li>
                <li><a routerLink="new-recipe">New Recipe</a></li>
                <li><a routerLink="profile">{{username}}'s profile</a></li>
                <li class="button" (click)="logout()">Logout</li>
                <li><a routerLink="about">About</a></li>
            </div>
            
        </ul>
    </nav>
</div>