<div class="container">
    <!-- {{recipe | json}} -->
    <app-delete [recipeName]="recipe.name" [recipeId]="recipe._id" (hideModal)="showDeleteModal(false)" *ngIf="isDeletingRecipe"></app-delete>
    
    <ng-container *ngIf="error">
        <p class="error">
            {{error}}
        </p>
    </ng-container>

    <div *ngIf="recipe" class="card">
        <img class="card-image" src="{{recipe.imageUrl}}" alt="Recipe Image">
        <div class="card-content">
            <div class="card-title">
                <h3>{{recipe.name}}</h3>
                <p>
                    <i class="fas fa-clock"></i><span> {{recipe.time}} min</span>
                </p>
            </div>
            <table>
                <tr class="card-section">
                    <td>
                        <h4><i class="fas fa-list"></i></h4>
                    </td>
                    <td>
                        <p class="ingredients">{{recipe.ingredients}}</p>
                    </td>
                </tr>
                <tr class="card-section">
                    <td>
                        <h4><img src="/assets/instructions.png" alt="Instructions"></h4>
                    </td>
                    <td>
                        <p class="instructions">{{recipe.instructions}}</p>
                    </td>
                </tr>
            </table>
            <div class="likes">
                <div>
                    <p>Liked by <span>{{recipe.likedBy.length}}</span> people</p>
                </div>
                <button *ngIf="recipe.isUser && !recipe.isOwner && !recipe.likedBy.includes(user._id)" class="like" (click)="likeRecipe(recipe._id)">
                    Like <i class="fas fa-thumbs-up"></i></button>
                <button *ngIf="recipe.isUser && recipe.likedBy.includes(user._id)" class="unlike" (click)="unlikeRecipe(recipe._id)">
                    Unlike <i class="fas fa-thumbs-up"></i></button>
                <div class="owner-buttons" *ngIf="recipe.isOwner">
                    <button class="edit-btn" routerLink="/recipes/{{recipe._id}}/edit">Edit</button>
                    <button class="delete-btn" (click)="showDeleteModal(true)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!recipe" class="loader">
        Loading...
    </div>
</div>