<div class="card">
    <img class="card-image" src="assets/pizza-5275191_960_720.jpg" alt="">
    <div class="card-content">
        <h3 class="card-title">Classic Pizza Margherita</h3>
        <div class="card-section">
            <h4>Ingredients</h4>
            <ul class="ingredients-list">
                <li>Flour</li>
                <li>Salt</li>
                <li>Mozzarella</li>
                <li>Tomatoes</li>
                <li>Basil</li>
            </ul>
        </div>
        <div class="card-section">
            <h4>Directions</h4>
            <p class="directions">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi iure voluptas a ad
                tempora quo accusamus placeat deserunt nemo tenetur, doloribus cum suscipit doloremque reiciendis?
            </p>
        </div>
    </div>
</div>