<div class="container">
    <div class="card">
        <img class="card-image" src="/assets/dummy-image-square.jpg" alt="Recipe Image">
        <div class="card-content">
            <div class="card-title">
                <h3></h3>
                <p></p>
            </div>
            <table>
                <tr class="card-section">
                    <td>
                        <h4></h4>
                    </td>
                    <td>
                        <ul class="ingredients-section">
                            <p class="ingredients-item"></p>
                        </ul>
                    </td>
                </tr>
                <tr class="card-section">
                    <td>
                        <h4></h4>
                    </td>
                    <td>
                        <div class="instructions">
                            <p></p>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="likes">
                <div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>