<div>
    <h2>About Just Cook It</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde consectetur perspiciatis quisquam numquam dicta, nisi voluptate. Hic, atque voluptate, repellat aliquam dolorum unde molestias ad dolor sapiente iste facilis molestiae asperiores ut eos! Architecto sunt enim, necessitatibus eius, quasi labore dolores, illum quas porro quaerat accusamus molestias repellendus esse beatae!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde consectetur perspiciatis quisquam numquam dicta, nisi voluptate. Hic, atque voluptate, repellat aliquam dolorum unde molestias ad dolor sapiente iste facilis molestiae asperiores ut eos! Architecto sunt enim, necessitatibus eius, quasi labore dolores, illum quas porro quaerat accusamus molestias repellendus esse beatae!
    </p>
</div>
